{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>BitacoraFit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-black font-sans leading-normal tracking-normal">

    <!-- This is the placeholder where login.html content will appear -->
    <main class="container mx-auto px-4 py-8">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
